<div class="monitor-content">
    <div class="content-panel">
        <div class="content">
            <div class="scrollbar" id="style-scrollbar">
                <app-jobs></app-jobs>
            </div>
        </div>
        <div class="bar-prod"></div>
    </div>
    <div class="main-panel">
        <app-main-control></app-main-control>
    </div>
    <div class="footer-panel">
        <div class="footer-content">
            <button class="test-button" (click)="addJobsafterday()">add Job afterday</button>
            <button class="test-button" (click)="addJobsRandom()">add Job Random</button>
            <button class="test-button" (click)="addJobstoday()">add Job today</button>
            <button class="test-button" (click)="addJobsyesterday()">add Job yesterday</button>
        </div>
    </div>
</div>